<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag(s) -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="robots" content="index, follow">

    <!-- Site specific meta tags -->
    <title>Articles - {html_var(website_title)}</title>
    <link rel="canonical" href="{html_var(base_url)}/articles" />
    <meta name="description"
        content="{html_var(meta_description)}" />
    <meta name="keywords"
        content="{html_var(meta_keywords)}" />

    <!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content="Articles | {html_var(website_title)}">
    <meta property="og:description"
        content="{html_var(meta_description)}">
    <meta property="og:image" content="{html_var(social_sharing_image_url)}">
    <meta property="og:url" content="{html_var(base_url)}/articles">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Articles | {html_var(website_title)}">
    <meta name="twitter:description"
        content="{html_var(meta_description)}">
    <meta name="twitter:image" content="{html_var(social_sharing_image_url)}">

    <!-- Icon(s) and browser styling -->
    <link rel="icon" href="{html_var(website_favicon)}" />
    <link rel="apple-touch-icon" href="{html_var(apple_touch_icon)}" />
    <meta name="theme-color" content="{html_var(theme_color)}" />
    <meta name="apple-mobile-web-app-status-bar-style" content="{html_var(apple_status_bar_style)}">

    <!-- Style(s) -->
    <link rel="stylesheet" href="/artipress_data/style/main.css" />
    <link rel="stylesheet" href="/artipress_data/style/article_list_section.css" />

    <!-- Script(s) -->
    <script src="/artipress_data/scripts/anchor_scroll.js" defer></script>
</head>

<body>

    <header class="articles-page-header">
        <h1><a href="/">ArtiPress</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/articles">All Articles</a></li>
                <li><a href="/articles/authors">Authors</a></li>
            </ul>
        </nav>
    </header>

    <main class="articles-list-page-main">
        <div class="artipress-articles-list-page-content">

            <div class="page-section page-section-projects" id="projects-header">
                <h2>Articles</h2>
            </div>

            <div class="artipress-articles-container">
            
                <a href="{html_var(article_url)}" class="article-card">
                    <img src="/artipress_data/articles/example-article-artipress/resources/images/image1.png" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                    <div class="text-content">
                        <p class="article-card-labels"><span class="article-card-label">Label 1</span> <span class="article-card-label">Label 2</span> <span class="article-card-label">Label 3</span></p>
                        <h3 class="article-card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <p class="article-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, eaque.</p>
                        <p class="article-card-author-and-date">John Doe | January 1, 2024</p>
                    </div>
                </a>

                <a href="{html_var(article_url)}" class="article-card">
                    <img src="/artipress_data/articles/example-article-artipress/resources/images/image1.png" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                    <div class="text-content">
                        <p class="article-card-labels"><span class="article-card-label">Label 1</span> <span class="article-card-label">Label 2</span> <span class="article-card-label">Label 3</span></p>
                        <h3 class="article-card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <p class="article-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, eaque.</p>
                        <p class="article-card-author-and-date">John Doe | January 1, 2024</p>
                    </div>
                </a>

                <a href="{html_var(article_url)}" class="article-card">
                    <img src="/artipress_data/articles/example-article-artipress/resources/images/image1.png" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                    <div class="text-content">
                        <p class="article-card-labels"><span class="article-card-label">Label 1</span> <span class="article-card-label">Label 2</span> <span class="article-card-label">Label 3</span></p>
                        <h3 class="article-card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <p class="article-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, eaque.</p>
                        <p class="article-card-author-and-date">John Doe | January 1, 2024</p>
                    </div>
                </a>

                <a href="{html_var(article_url)}" class="article-card">
                    <img src="/artipress_data/articles/example-article-artipress/resources/images/image1.png" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                    <div class="text-content">
                        <p class="article-card-labels"><span class="article-card-label">Label 1</span> <span class="article-card-label">Label 2</span> <span class="article-card-label">Label 3</span></p>
                        <h3 class="article-card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <p class="article-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, eaque.</p>
                        <p class="article-card-author-and-date">John Doe | January 1, 2024</p>
                    </div>
                </a>

                <a href="{html_var(article_url)}" class="article-card">
                    <img src="/artipress_data/articles/example-article-artipress/resources/images/image1.png" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                    <div class="text-content">
                        <p class="article-card-labels"><span class="article-card-label">Label 1</span> <span class="article-card-label">Label 2</span> <span class="article-card-label">Label 3</span></p>
                        <h3 class="article-card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <p class="article-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, eaque.</p>
                        <p class="article-card-author-and-date">John Doe | January 1, 2024</p>
                    </div>
                </a>

                <a href="{html_var(article_url)}" class="article-card">
                    <img src="/artipress_data/articles/example-article-artipress/resources/images/image1.png" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                    <div class="text-content">
                        <p class="article-card-labels"><span class="article-card-label">Label 1</span> <span class="article-card-label">Label 2</span> <span class="article-card-label">Label 3</span></p>
                        <h3 class="article-card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <p class="article-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, eaque.</p>
                        <p class="article-card-author-and-date">John Doe | January 1, 2024</p>
                    </div>
                </a>

                <a href="{html_var(article_url)}" class="article-card">
                    <img src="/artipress_data/articles/example-article-artipress/resources/images/image1.png" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                    <div class="text-content">
                        <p class="article-card-labels"><span class="article-card-label">Label 1</span> <span class="article-card-label">Label 2</span> <span class="article-card-label">Label 3</span></p>
                        <h3 class="article-card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <p class="article-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, eaque.</p>
                        <p class="article-card-author-and-date">John Doe | January 1, 2024</p>
                    </div>
                </a>
            </div>

        </div>
    </main>

    <footer>
        <div class="container-page-content-width">
            <p>
                &copy; 2026 ArtiPress. All rights reserved.
            </p>
        </div>
    </footer>
</body>

</html>
