<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag(s) -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="robots" content="index, follow">

    <!-- Site specific meta tags -->
    <title>{html_var(author_name)} | {html_var(website_title)}</title>
    <link rel="canonical" href="{html_var(base_url)}/articles/authors/{html_var(author_slug)}" />
    <meta name="description" content="{html_var(author_bio)}" />
    <meta name="keywords"
        content="{html_var(author_name)}, {html_var(website_title)}, author, biography" />
    <meta name="author" content="{html_var(author_name)}" />

    <!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content="{html_var(author_name)} | {html_var(website_title)}">
    <meta property="og:description"
        content="{html_var(author_bio)}">
    <meta property="og:image" content="{html_var(author_avatar_url)}">
    <meta property="og:url" content="{html_var(base_url)}/articles/authors/{html_var(author_slug)}">
    <meta property="og:type" content="profile">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{html_var(author_name)} | {html_var(website_title)}">
    <meta name="twitter:description"
        content="{html_var(author_bio)}">
    <meta name="twitter:image" content="{html_var(author_avatar_url)}">

    <!-- Icon(s) and browser styling -->
    <link rel="icon" href="{html_var(website_favicon)}" />
    <link rel="apple-touch-icon" href="{html_var(apple_touch_icon)}" />
    <meta name="theme-color" content="{html_var(theme_color)}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{html_var(apple_status_bar_style)}">

    <!-- Style(s) -->
    <link rel="stylesheet" href="/artipress_data/style/main.css" />
    <link rel="stylesheet" href="/artipress_data/style/author_page_base.css" />
    <link rel="stylesheet" href="/artipress_data/style/article_list_base.css" />
    <link rel="stylesheet" href="{html_var(custom_style)}" />

    <!-- Script(s) -->
    <script src="/artipress_data/scripts/anchor_scroll.js" defer></script>

</head>

<body>

    <header class="articles-page-header">
        <h1><a href="/">{html_var(website_title)}</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/articles">All Articles</a></li>
                <li><a href="/articles/authors">Authors</a></li>
            </ul>
        </nav>
    </header>

    <main class="author-page-main">

        <div class="author-profile">
            <div class="author-avatar-container">
                <img src="{html_var(author_avatar_url)}" alt="{html_var(author_name)}'s avatar" class="author-avatar">
            </div>

            <div class="author-info">
                <h2 class="author-name">{html_var(author_name)}</h2>
                <p class="author_role">{html_var(author_role)}</p>
                <p class="author-bio">{html_var(author_bio)}</p>

                <ul class="social-links">
                    {html_var(author_social_links_formated)}
                </ul>
            </div>
        </div>

        <div class="author-articles">
            <div class="artipress-articles-list-page-content">

                <div class="page-section page-section-projects" id="projects-header">
                    <h2>Articles written by {html_var(author_name)}</h2>
                </div>

                <div class="container-articles-list-grid">
                    
                    <div class="article-card">
                        <a href="{html_var(base_url)}/articles/sample-article-1">
                            <img src="{html_var(article_image_url)}" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                            <div class="text-content">
                                <h3 class="article-card-title">{html_var(article_title)}</h3>
                                <p class="article-card-description">{html_var(article_strap_line)}</p>
                                <p class="article-card-labels">{html_var(article_labels)}</p>
                                <p class="article-card-author-and-date">{html_var(article_author)} - {html_var(article_date)}</p>
                            </div>
                        </a>
                    </div>

                    <div class="article-card">
                        <a href="{html_var(base_url)}/articles/sample-article-1">
                            <img src="{html_var(article_image_url)}" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                            <div class="text-content">
                                <h3 class="article-card-title">{html_var(article_title)}</h3>
                                <p class="article-card-description">{html_var(article_strap_line)}</p>
                                <p class="article-card-labels">{html_var(article_labels)}</p>
                                <p class="article-card-author-and-date">{html_var(article_author)} - {html_var(article_date)}</p>
                            </div>
                        </a>
                    </div>

                    <div class="article-card">
                        <a href="{html_var(base_url)}/articles/sample-article-1">
                            <img src="{html_var(article_image_url)}" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                            <div class="text-content">
                                <h3 class="article-card-title">{html_var(article_title)}</h3>
                                <p class="article-card-description">{html_var(article_strap_line)}</p>
                                <p class="article-card-labels">{html_var(article_labels)}</p>
                                <p class="article-card-author-and-date">{html_var(article_author)} - {html_var(article_date)}</p>
                            </div>
                        </a>
                    </div>

                    <div class="article-card">
                        <a href="{html_var(base_url)}/articles/sample-article-1">
                            <img src="{html_var(article_image_url)}" alt="{html_var(article_title)}" class="article-card-thumbnail" />
                            <div class="text-content">
                                <h3 class="article-card-title">{html_var(article_title)}</h3>
                                <p class="article-card-description">{html_var(article_strap_line)}</p>
                                <p class="article-card-labels">{html_var(article_labels)}</p>
                                <p class="article-card-author-and-date">{html_var(article_author)} - {html_var(article_date)}</p>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </main>

    <footer>
        <div class="container-page-content-width">
            <p>
                &copy; 2026 {html_var(website_title)}.
            </p>
        </div>
    </footer>
</body>

</html>