/* CSS Variables */
:root {
    --artipress-article-card-width: 364px;
    --gap-between-cards: 25px;
    --artipress-article-card-border-color: hsl(0, 0%, 75%);
    --artipress-article-card-border-radius: 22px;
    --artipress-article-card-image-border-radius: 10px;

    --article-text-content-padding-top: 10px;
    --article-text-content-padding-side: 5px;
    --article-text-content-padding-bottom: 7px;

    --article-title-color: black;
    --article_title-font-size: 1.1rem;

    --article-description-color: hsl(0, 0%, 20%);
    --article-description-font-size: 0.95rem;

    --article-label-color: hsl(0, 0%, 45%);
    --article-label-font-size: 0.8rem;

    --article-author-date-color: hsl(0, 0%, 50%);
    --article-author-date-font-size: 0.85rem;

    --recently-published-article-label-color: hsl(220, 100%, 50%);

}

.artipress-articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--artipress-article-card-width));
    gap: var(--gap-between-cards);
    justify-content: center; /* centers the grid columns, not the items within a row */
}

.artipress-article-card {
    padding: 12px 12px 0;
    width: var(--artipress-article-card-width);
    height: fit-content;
    border: 1px solid transparent;
    border-radius: var(--artipress-article-card-border-radius);
    display: flex;
    overflow: hidden;
    text-decoration: none;
    color: black;
    flex-direction: column;
}

.artipress-article-card:hover {
    background-color: hsl(0, 0%, 95%);
}

.artipress-article-card img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--artipress-article-card-border-color);
    border-radius: var(--artipress-article-card-image-border-radius);
}

.artipress-article-card .text-content {
    padding: var(--article-text-content-padding-top) var(--article-text-content-padding-side) var(--article-text-content-padding-bottom);
}

.artipress-article-card .text-content .artipress-article-card-labels {
    margin: 0px 0 5px 0;
    display: flex;
    gap: 0.55em;
}

.artipress-article-card .text-content .artipress-article-card-labels .artipress-article-card-label {
    font-size: var(--article-label-font-size);
    color: var(--article-label-color);
}

.artipress-article-card .text-content .artipress-article-card-labels .recently-published-article-label {
    color: var(--recently-published-article-label-color);
    font-weight: 600;
}

.artipress-article-card-labels-empty {
    height: 3px;
}

.artipress-article-card .artipress-article-card-title {
    margin: 0px 0 10px 0;
    font-size: var(--article_title-font-size);
    color: var(--article-title-color);
}

.artipress-article-card:hover .artipress-article-card-title {
    text-decoration: underline;
}

.artipress-article-card .text-content p {
    margin: 0;
}

.artipress-article-card .text-content .artipress-article-card-description {
    margin: 0 0 8px 0;
    font-size: var(--article-description-font-size);
    color: var(--article-description-color);
}

.artipress-article-card .text-content .artipress-article-card-author-and-date {
    margin: 0 0 10px 0;
    font-size: var(--article-author-date-font-size);
    color: var(--article-author-date-color);
}

