/* CSS variables */
:root {
    --color-divider: #ccc;
}

.artipress-articles-list-page-content {
}

.container-articles-list-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.container-articles-list-grid .article-card {
    border: 1px solid var(--color-divider);
    width: 350px;
}

.container-articles-list-grid .article-card .text-content {
    padding: 15px;
}