/* CSS variables */
:root {
    --color-divider: hsl(0, 0%, 50%);
    --social-icon-filter: invert(100%);
    --image-border-radius: 0px;
}

body {
    font-family: sans-serif;
}

article {
    overflow: hidden;
    max-width: 100%;
}

article > header,
article > header *,
article > footer,
article > footer * {
  all: revert;
}

.divider-line-horizontal-top,
.divider-line-horizontal-bottom,
.divider-line-horizontal {
    height: 1px;
    border: none;
    background-color: var(--color-divider);
    margin: 20px 0;
}

article header .author-date {
    color: hsl(0, 0%, 35%);
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.article-sharing-exporting ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.article-sharing-exporting img {
    width: 21px;
    height: 21px;
    margin-right: 7px;
    filter: var(--social-icon-filter);
}

article .featured-article-image img,
article .article-content img {
    width: 100%;
    height: auto;
    border-radius: var(--image-border-radius);
    margin: 0 auto;
    height: auto;
}

/* Change style for print  */
@media print {
    .article-sharing-exporting,
    .divider-line-horizontal-bottom {
        display: none;
    }
}