/* CSS variables */
:root {
    --color-divider: #ccc;
}

.artipress-authors-list-page-content {
}

.container-authors-list-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.container-authors-list-grid .author-card {
    border: 1px solid var(--color-divider);
    width: 300px;
}

.container-authors-list-grid .author-card .text-content {
    padding: 15px;
}