<article>
    <header>
        <h1>{html_var(article_title)}</h1>
        <p class="strap-line">{html_var(article_strap_line)}</p>
        <p class="author-date">
            By {html_var(article_authors)} | Published on {html_var(article_published_date)}{html_var(article_edited_date_iso)}
        </p>
    </header>

    <hr class="divider-line-horizontal-top">

    <div class="article-sharing-exporting">
        <ul>
            <li>
                <a href="https://twitter.com/intent/tweet?text={html_var(article_title)}%0A{html_var(base_url)}/articles/{html_var(article_id)}/?utm_source=x&utm_medium=social&utm_content=post" target="_blank" rel="noopener noreferrer">
                    <img src="/artipress_data/images/social-icons/x.png" alt="Twitter/x Icon" />
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={html_var(base_url)}/articles/{html_var(article_id)}&quote={html_var(article_title)}/?utm_source=facebook&utm_medium=social&utm_content=post" target="_blank" rel="noopener noreferrer">
                    <img src="/artipress_data/images/social-icons/facebook.webp" alt="Facebook Icon" />
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/sharing/share-offsite/?url={html_var(base_url)}/articles/{html_var(article_id)}/?utm_source=linkedin&utm_medium=social&utm_content=post" target="_blank" rel="noopener noreferrer">
                    <img src="/artipress_data/images/social-icons/linkedin.png" alt="LinkedIn Icon" />
                </a>
            </li>
            <li>
                <a href="https://www.threads.net/intent/post?text={html_var(article_title)}%0A{html_var(base_url)}/articles/{html_var(article_id)}/?utm_source=threads&utm_medium=social&utm_content=post" target="_blank" rel="noopener noreferrer">
                    <img src="/artipress_data/images/social-icons/threads.png" alt="Threads Icon" />
                </a>
            </li>
            <li>
                <a href="https://wa.me/?text=https%3A%2F%2F{html_var(base_url)}%2Farticles%2F{html_var(article_id)}%2F%3Futm_source%3Dwhatsapp%26utm_medium%3Dsocial%26utm_content%3Dpost" target="_blank" rel="noopener noreferrer">
                    <img src="/artipress_data/images/social-icons/whatsapp.png" alt="WhatsApp Icon" />
                </a>
            </li>
            <li>
                <a href="#" onclick="navigator.clipboard.writeText('{html_var(base_url)}/articles/{html_var(article_id)}/?utm_source=copy_button&utm_medium=site&utm_content=post').then(() => alert('Link copied!'));return false;">
                    <img src="/artipress_data/images/social-icons/link.svg" alt="Copy Link Icon" />
                </a>
            </li>
            <li>
                <a id="printNew">
                    <img src="/artipress_data/images/social-icons/print.svg" alt="Print Icon" />
                </a>
            </li>
        </ul>
    </div>

    <hr class="divider-line-horizontal-bottom">

    <div class="article-image-container article-content featured-article-image">
        <img src="{html_var(article_image_url)}"
            alt="{html_var(article_image_alt)}"/>
    </div>

    <div class="article-content">

        {html_var(article_html_content)}
        
    </div>

    <hr class="divider-line-horizontal">

    <footer>
        <p class="author-date">
            By {html_var(article_authors)} | Published on {html_var(article_published_date)}{html_var(article_edited_date_iso)}
        </p>
    </footer>
</article>