<div class="article-card">
    <a href="{html_var(article_url)}">
        <img src="{html_var(article_image_url)}" alt="{html_var(article_title)}" class="article-card-thumbnail" />
        <div class="text-content">
            <h3 class="article-card-title">{html_var(article_title)}</h3>
            <p class="article-card-description">{html_var(article_strap_line)}</p>
            <p class="article-card-labels">{html_var(article_labels)}</p>
            <p class="article-card-author-and-date">{html_var(article_author)} | {html_var(article_date)}</p>
        </div>
    </a>
</div>