<a href="{html_var(article_url)}" class="article-card">
    <img src="/artipress_data/articles/example-article-artipress/resources/images/image1.png" alt="{html_var(article_title)}" class="article-card-thumbnail" />
    <div class="text-content">
        <p class="article-card-labels">{html_var(article_labels)}</p>
        <h3 class="article-card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <p class="article-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, eaque.</p>
        <p class="article-card-author-and-date">John Doe | January 1, 2024</p>
    </div>
</a>