<a href="{html_var(article_url)}" class="artipress-article-card">
    <img src="{html_var(article_image_url)}" alt="{html_var(article_image_alt)}" class="article-card-thumbnail" />
    <div class="text-content">
        <h3 class="artipress-article-card-title">{html_var(article_title)}</h3>
        <p class="artipress-article-card-description">{html_var(article_strap_line)}</p>
        <p class="artipress-article-card-labels">{html_var(article_labels)}</p>
        <p class="artipress-article-card-author-and-date">{html_var(article_authors)} | {html_var(article_published_date)}</p>
    </div>
</a>